.movies-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px, 360px));;
    gap: 30px;
    margin: 80px 70px 0;
    row-gap: 60px;
    position: relative;
}

.movies-list__more-button {
    box-sizing: border-box;
    display: block;
    flex: 0 0 auto;
    width: 320px;
    min-width: 320px;
    height: 36px;
    font: 500 12px Inter, Arial, sans-serif;;
    color: rgba(255, 255, 255, 1);
    cursor: pointer;
    background: transparent;
    border: 1px solid rgba(66, 66, 66, 1);
    border-radius: 6px;
    margin: 76px auto 80px;
}

@media (max-width: 900px) {
    .movies-list {
        grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
        margin: 70px 29px 0;
        row-gap: 47px;
    }
}

@media (max-width: 780px) {
    /* .movies-list {
        grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
        margin: 70px 30px 0;
        row-gap: 47px;
    } */
    
    .movies-list__more-button {
        margin: 50px auto 80px;
    }
}

/* @media (max-width: 740px) {
    .movies-list {
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
        margin: 40px 10px 0;
        row-gap: 39px;
    }

    .movies-list__more-button {
        max-width: 240px;
        width: 100%;
        min-width: 0;
    }
} */

@media (max-width: 360px) {
    .movies-list {
        margin: 40px 10px 0;
        row-gap: 39px;
    }
}

