.profile-card {
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 74px 365px 70px;
}

.greeting-heading {
    flex: 0 0 auto;
    font: 500 24px Inter, Arial, sans-serif;
    color: rgba(255, 255, 255, 1);
    white-space: pre-wrap;
}

.user-profile {
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    align-items: stretch;
    align-self: stretch;
    justify-content: flex-start;
    margin-top: 123px;
}

.personal-info-container {
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 16px;
    align-items: stretch;
    justify-content: flex-start;
}

.info-card-name, .info-card-mail {
    display: flex;
    flex: 0 0 auto;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.info-card-name::after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background: rgba(66, 66, 66, 1);
    margin-top: 50px;
    position: absolute;
}

.name-text {
    flex: 0 0 auto;
    font: 500 11px Inter, Arial, sans-serif;
    color: rgba(255, 255, 255, 1);
    white-space: pre-wrap;
}

.name-paragraph {
    flex: 0 0 auto;
    font: 400 11px Inter, Arial, sans-serif;
    color: rgba(255, 255, 255, 1);
    white-space: pre-wrap;
}

.account-actions {
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    margin-top: 220px;
}

.edit-button {
    flex: 0 0 auto;
    font: 400 13px Inter, Arial, sans-serif;
    color: rgba(255, 255, 255, 1);
    text-align: center;
    white-space: pre-wrap;
    text-decoration: none;
}

.logout-button {
    flex: 0 0 auto;
    margin-top: 16px;
    font: 500 13px Inter, Arial, sans-serif;
    color: rgba(238, 52, 101, 1);
    text-align: center;
    white-space: pre-wrap;
    text-decoration: none;
}

@media (max-width: 980px) {
    .profile-card {
        margin: 212px 179px 0;
    }

    .greeting-heading {
        font-size: 24px;
    }

    .account-actions {
        margin-top: 200px;
    }

    .user-profile {
        margin-top: 72px;
    }
}

@media (max-width: 740px) {
    .profile-card {
        margin: 70px 30px 0;
    }

    .greeting-heading {
        margin: 0;
    }

    .user-profile {
        margin-top: 80px;
    }

    .account-actions {
        margin: 379px auto 40px;
    }
}