.search-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 80px 70px 28px 70px;
    position: relative;
}

.search-form::after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background: rgba(66, 66, 66, 1);
    margin-top: 40px;
}

.search-form__field {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: stretch;
    position: relative;
}

.search-form__input {
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    padding-left: 20px;
    font: 400 14px Inter, Arial, sans-serif;
    background: rgba(47, 47, 47, 1);
    border: none;
    border-radius: 8px;
    color: rgba(255, 255, 255, 1);
}

.search-form__icon-container {
    margin-left: 10px;
    background: transparent;
    border: none;
    cursor: pointer;
    width: 44px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.search-form__icon-container:hover {
    background-color: #3456F3;
    cursor: pointer;
    border-radius: 5px;
    height: 43px;
}

.search-form__icon {
    box-sizing: border-box;
    display: block;
    width: 100%;
    height: 45px;
}

.search-form__icon-container:hover .search-form__icon {
    opacity: 0.8;
    transition: ease-in-out 0.3s;
}

.search-form__short-films {
    display: flex;
    flex: 0 0 auto;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 29px;
}

  .search-form__checkbox-container {
    flex: 0 0 auto;
}

  .search-form__checkbox-icon {
    box-sizing: border-box;
    display: block;
    width: 34px;
    max-width: initial;
    height: 15px;
}

.search-form__label {
    flex: 0 0 auto;
    margin-left: 13px;
    font: 400 12px Inter, Arial, sans-serif;
    color: rgba(255, 255, 255, 1);
    white-space: pre-wrap;
}

@media (max-width: 780px) {
    .search-form {
        margin: 80px 30px 40px 30px;
    }

@media (max-width: 740px) {
    .search-form {
        margin: 80px 14px 0;
    }

    .search-form::after {
        margin-bottom: 10px;
    }

    .search-form__input {
        height: 44px;
    }

    .search-form__icon {
        height: auto;
    }
}
}