.footer {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  padding: 0 70px;
  margin-top: 84px;
  position: relative;
}

.footer__description::after {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background: rgba(66, 66, 66, 1);
  margin-top: 20px;
}

.footer__description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.footer__text {
  font: 400 13px Inter, Arial, sans-serif;
  color: rgba(139, 139, 139, 1);
  text-align: center;
}

.footer__details {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.footer__year {
  font: 400 13px Inter, Arial, sans-serif;
  color: #8B8B8B;
}

.footer__links {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.footer__link {
  font: 400 13px Inter, Arial, sans-serif;
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
}

.footer__link-github {
  margin-left: 20px;
}

@media (max-width: 780px) {
  .footer {
    margin-top: 90px;
  }
}

@media (max-width: 740px) {
  .footer {
    margin: 79px 10px 0;
    padding: 0;
  }

  .footer__text {
    font-size: 12px;
  }

  .footer__details {
    display: grid;
    grid-template-columns: 1fr;
    margin: 30px auto;
    justify-content: center;
  }

  .footer__links {
    display: grid;
  }

  .footer__link, .footer__link-github, .footer__year {
    font-size: 12px;
  }

  .footer__link {
    padding-bottom: 12px;
  }

  .footer__link:first-child {
    order: 1;
  }

  .footer__link-github {
    order: 2;
    margin: 0 auto;
    padding: 0;
  }

  .footer__year {
    order: 3;
    margin: 30px auto 20px;
  }
}