.nav-tab {
    display: flex;
    flex: 0 0 auto;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    margin-top: 151px;
}

.nav-tab__button {
    box-sizing: border-box;
    display: block;
    flex: 0 0 auto;
    width: 96px;
    min-width: 96px;
    height: 36px;
    font: 500 12px Inter;
    color: rgba(255, 255, 255, 1);
    cursor: pointer;
    background: rgba(48, 48, 48, 1);
    border: none;
    border-radius: 10px;
}

.nav-tab__button-link {
    text-decoration: none;
}
